[workspace]
resolver = "2"
members = ["1_domain", "2_db/*"]

[profile.release]
strip = true

[workspace.dependencies]
ahash = "0.8"
anyhow = "1.0"
async-graphql = { version = "7.0", features = ["apollo_persisted_queries", "chrono", "uuid", "decimal", "log"] }
async-graphql-actix-web = "7.0"
async-stream = "0.3"
async-trait = "0.1"
base64 = "0.22"
chrono = { version = "0.4.35", features = ["serde"] }
ciborium = "0.2.1"
clap = { version = "~4.5.7", features = ["derive"] }
derive_more = { version = "2", features = ["display", "from", "into"] }
derive-new = "0.7"
dotenvy = "0.15.6"
futures = "0.3.13"
log = { version = "0.4", features = [ "release_max_level_info", "kv_unstable_serde" ] }
once_cell = "1.8"
rand = "0.9"
regex = "1"
rust_decimal = "1.19"
rust_decimal_macros = "1.19"
schemars = { version = "0.8.22", features = ["chrono", "uuid1", "rust_decimal", "indexmap2", "preserve_order"] }
senax-common = "=0.3.2"
senax-macros = "=0.2.1"
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = { version = "1.0", features = ["preserve_order"] }
serde_repr = "0.1"
serde_yaml = "0.9"
sqlx = { version = "0.7.3", features = ["runtime-tokio", "tls-rustls", "mysql", "chrono", "rust_decimal", "json", "uuid"] }
strum = { version = "0.27", features = ["derive"] }
strum_macros = "0.27"
thiserror = "2"
tokio = { version = "1.41", features = [ "full" ] }
tracing = { version = "0.1", features = ["release_max_level_warn", "log-always"] }
utoipa = { version = "5.2.0", features = ["chrono", "decimal", "uuid", "rc_schema"] }
uuid = { version = "1.6.1", features = ["v6", "v7", "fast-rng", "serde"] }
validator = { version = "0.20", features = ["derive"] }
@{-"\n"}@