[package]
name = "_base_repo_@{ db|snake }@_@{ group|snake }@"
version = "0.0.0"
edition = "2024"
publish = false

[dependencies]
domain = { path = "../../../../1_domain" }
db = { package = "_db_@{ db|snake }@", path = "../../base" }

ahash.workspace = true
anyhow.workspace = true
arc-swap = "1.5.1"
async-stream.workspace = true
async-trait.workspace = true
bytes = "1.4"
chrono.workspace = true
crossbeam = "0.8"
derive_more.workspace = true
derive-new.workspace = true
futures.workspace = true
fxhash = "0.2"
includedir = "0.6.0"
indexmap = "2"
log.workspace = true
num-traits = "0.2"
once_cell.workspace = true
phf = "0.8.0"
rand.workspace = true
regex.workspace = true
rust_decimal.workspace = true
schemars.workspace = true
senax-common.workspace = true
senax-encoder.workspace = true
senax-macros.workspace = true
serde.workspace = true
serde_bytes = "0.11.12"
serde_json.workspace = true
serde_repr.workspace = true
serde_yaml.workspace = true
sled = "0.34"
sqlx.workspace = true
strum.workspace = true
strum_macros.workspace = true
thiserror.workspace = true
tokio.workspace = true
tracing.workspace = true
utoipa.workspace = true
uuid.workspace = true
validator.workspace = true
zstd = "0.13"
@{-"\n"}@