[package]
name = "db_@{ db|snake }@"
version = "0.0.0"
edition = "2024"
publish = false

[features]
cache_update_only = []
etcd = [ "senax-common/etcd" ]
use_google_resolver = [ "hickory-resolver" ]

[dependencies]
domain = { path = "../../1_domain" }
@%- for db in config.outer_db() %@
db_@{ db }@ = { path = "../@{ db }@" }
@%- endfor %@

ahash.workspace = true
anyhow.workspace = true
arc-swap = "1.5.1"
async-recursion = "1.0.4"
async-stream.workspace = true
async-trait.workspace = true
bytes = "1.4"
chrono.workspace = true
ciborium.workspace = true
clap.workspace = true
crossbeam = "0.8"
derive_more.workspace = true
derive-new.workspace = true
dotenvy.workspace = true
futures.workspace = true
fxhash = "0.2"
hickory-resolver = { version = "0.24.1", optional = true }
includedir = "0.6.0"
indexmap = "2"
log.workspace = true
num-traits = "0.2"
once_cell.workspace = true
phf = "0.8.0"
rand.workspace = true
regex.workspace = true
rust_decimal.workspace = true
schemars.workspace = true
senax-common.workspace = true
senax-macros.workspace = true
serde.workspace = true
serde_bytes = "0.11.12"
serde_json.workspace = true
serde_repr.workspace = true
serde_yaml.workspace = true
sled = "0.34"
sqlx.workspace = true
strum.workspace = true
strum_macros.workspace = true
thiserror.workspace = true
tokio.workspace = true
tracing.workspace = true
url = "2.2.2"
utoipa.workspace = true
uuid.workspace = true
validator.workspace = true
zstd = "0.13"

[build-dependencies]
includedir_codegen = "0.6.0"
walkdir = "2.3.1"
@{-"\n"}@