[package]
name = "@{ name }@"
version = "0.0.0"
edition = "2024"
publish = false

default-run = "@{ name }@"

[features]
default = []
etcd = ["senax-common/etcd"]
js_updater = ["rquickjs"]
graphiql = []

[dependencies]
@%- if session %@
db_session_session = { path = "../2_db/session/repositories/session" }
db_session = { path = "../2_db/session" }
@%- endif %@

actix-web = "4.1"
ahash.workspace = true
anyhow.workspace = true
argon2 = "0.5.2"
async-graphql.workspace = true
async-graphql-actix-web.workspace = true
async-stream = "0.3"
async-trait.workspace = true
base64.workspace = true
chrono.workspace = true
clap.workspace = true
derive_more.workspace = true
domain = { path = "../1_domain" }
dotenvy.workspace = true
env_logger = "0.11"
futures.workspace = true
jsonwebtoken = "9.1.0"
log.workspace = true
mimalloc = "0.1"
mime = "0.3"
obfstr = "0.4.3"
once_cell.workspace = true
rand.workspace = true
regex.workspace = true
rquickjs = { version = "0.9", features = ["rust-alloc"], default-features = false, optional = true }
rust_decimal.workspace = true
rust_decimal_macros.workspace = true
schemars.workspace = true
@%- if session %@
senax-actix-session = "=0.4.3"
@%- endif %@
senax-common.workspace = true
senax-logger = "=0.2.6"
serde.workspace = true
serde_json.workspace = true
serde_urlencoded = "0.7"
sha2 = "0.10.6"
sqlx.workspace = true
thiserror.workspace = true
time = "0.3.5"
tokio.workspace = true
tracing.workspace = true
utoipa = { workspace = true, features = ["actix_extras"] }
utoipa-actix-web = "0.1"
utoipa-swagger-ui = { version = "9.0.1", features = ["actix-web"] }
uuid.workspace = true
v8 = { version = "136.0.0", optional = true }
validator.workspace = true

[target.'cfg(unix)'.dependencies]
nix = { version = "0.29", features = ["process", "signal", "fs"] }
signal-hook = "0.3.14"
signal-hook-tokio = { version = "0.3.1", features = ["futures-v0_3"] }
@{-"\n"}@