[package]
name = "@{ name }@"
version = "0.0.0"
edition = "2024"
publish = false

default-run = "@{ name }@"

[features]
default = []
etcd = ["senax-common/etcd"]
graphiql = []
seed_schema = []

[dependencies]
@%- if session %@
db_session = { path = "../2_db/session" }
@%- endif %@
_@{ name }@ = { path = "base" }
domain = { path = "../1_domain" }

actix-web = "4.1"
ahash.workspace = true
anyhow.workspace = true
async-graphql.workspace = true
async-graphql-actix-web.workspace = true
async-trait.workspace = true
base64.workspace = true
chrono.workspace = true
clap.workspace = true
dotenvy.workspace = true
env_logger = "0.11"
futures.workspace = true
jsonwebtoken = "9.1.0"
log.workspace = true
mimalloc = "0.1"
obfstr = "0.4.3"
once_cell.workspace = true
rand.workspace = true
@%- if session %@
senax-actix-session = "=0.5.0"
@%- endif %@
senax-common.workspace = true
senax-logger = "=0.2.6"
serde.workspace = true
serde_json.workspace = true
sha2 = "0.10.6"
time = "0.3.5"
tokio.workspace = true
tracing.workspace = true
utoipa = { workspace = true, features = ["actix_extras"] }
utoipa-actix-web = "0.1"
utoipa-swagger-ui = { version = "9.0.1", features = ["actix-web"] }
uuid.workspace = true
validator.workspace = true

[target.'cfg(unix)'.dependencies]
nix = { version = "0.29", features = ["process", "signal", "fs"] }
signal-hook = "0.3.14"
signal-hook-tokio = { version = "0.3.1", features = ["futures-v0_3"] }
@{-"\n"}@