[package]
name = "db_@{ db|snake }@"
version = "0.0.0"
edition = "2024"
publish = false

[features]
etcd = [ "senax-common/etcd", "_base/etcd" ]
seed_schema = [ "schemars" ]
production_mode = [ "_base/production_mode" ]

[dependencies]
_base = { package = "_db_@{ db|snake }@", path = "base" }
@%- if !config.exclude_from_domain %@
domain = { path = "../../1_domain" }
@%- endif %@

ahash.workspace = true
anyhow.workspace = true
async-stream.workspace = true
async-trait.workspace = true
bytes = "1.4"
chrono.workspace = true
crossbeam = "0.8"
derive_more.workspace = true
derive-new.workspace = true
futures.workspace = true
fxhash = "0.2"
includedir = "0.6.0"
indexmap = "2"
log.workspace = true
num-traits = "0.2"
once_cell.workspace = true
phf = "0.8.0"
rand.workspace = true
regex.workspace = true
rust_decimal.workspace = true
schemars = { workspace = true, optional = true }
senax-common.workspace = true
senax-macros.workspace = true
serde.workspace = true
serde_bytes = "0.11.12"
serde_json.workspace = true
serde_repr.workspace = true
serde_yaml.workspace = true
sqlx = { workspace = true, features = ["@{ config.db }@"] }
strum.workspace = true
strum_macros.workspace = true
thiserror.workspace = true
tokio.workspace = true
tracing.workspace = true
uuid.workspace = true
validator.workspace = true

[build-dependencies]
includedir_codegen = "0.6.0"
walkdir = "2.3.1"
@{-"\n"}@